<html>
  <head>
    <title>SimpleMixer</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">SimpleMixer</h1>

      <div class="howto">
        <ol>
          <li>Click on "Deposit Funds" and complete the transaction.</li>
          <li>You will be asked to send a signed message to the server.</li>
          <li>The server will then send you a signed message.</li>
          <li>You can now use that signed message to withdraw your funds.</li>
        </ol>
      </div>

      <div class="actions">
        <div class="action">
          <button id="deposit">Deposit Funds</button>
        </div>
        <div class="action">
          <div class="form-control">
            <label for="signature">Server Signature</label>
            <input type="text" id="signature" placeholder="Server signature..." />
          </div>
          <button id="withdraw">Withdraw Funds</button>
        </div>
      </div>
    </div>
  </body>
</html>
